/** Apply universal selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/** common styles */
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.text-gray {
  color: #575757;
}

.common-btn {
  background-color: #1d4ed8;
  padding: 12px 41px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.blue-outline-btn {
  background-color: white;
  padding: 15px 45px;
  color: #2563eb;
  border: 1px solid #2563eb;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
.black-outline-btn {
  background-color: white;
  padding: 15px 45px;
  color: black;
  border: 1px solid black;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
.section-heading {
  text-align: center;
  margin-top: 100px;
}
.section-heading h3 {
  font-size: 48px;
  font-weight: 700;
  color: #0d1b2a;
  margin-bottom: 12px;
}
.section-heading p {
  font-size: 16px;
  font-weight: 500;
  color: #0d1b2a;
}
/** navbar styles */
nav {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu-items ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.Menu-items ul li a {
  text-decoration: none;
  font-size: 1rem;
}

/**Banner styles */
#banner-container {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0)),
    url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.banner-content p {
  font-size: 22px;
  font-weight: 500;
}

.hero-btn .common-btn {
  margin-top: 270px;
  padding: 20px 45px;
  font-size: 25px;
}

/* Meet-the-speakers section */
#Meet-the-speakers {
  margin-top: 80px;
  margin-bottom: 50px;
}

#speakers-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 56px;
}

.speakers-heading {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #000102;
  margin-bottom: 25px;
}

#speakers-card-container .speaker-card {
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}

#speakers-card-container .speaker-card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.speaker-card .about-speaker {
  padding: 24px;
}

.speaker-card .about-speaker h4 {
  font-size: 12px;
  color: #2563eb;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.speaker-card .about-speaker h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0d1b2a;
  margin-bottom: 8px;
}

.speaker-card .about-speaker p {
  font-size: 14px;
  font-weight: 500;
}

/** Secure Your Spot styles  */
#pricing-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.pricing-card {
  border: 1px groove #e5e7eb;
  padding: 32px;
  margin: 50px 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.pricing-card h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #888888;
  margin-bottom: 8px;
}
.pricing-card h2 {
  font-size: 44px;
  font-weight: 700;
  color: #0d1b2a;
  margin-bottom: 6px;
}

.pricing-card p {
  font-size: 13px;
  font-weight: 500;
  color: #888888;
  margin-bottom: 30px;
}

.services-lists {
  margin-top: 30px;
}
.services-lists li {
  margin-bottom: 10px;
}
.services-lists li a {
  color: #333333;
}

.highlight {
  background-color: #0d1b2a;
  border: 1px solid #0d1b2a;
}

.highlight h2,
p {
  color: white;
}

.highlight h4 {
  color: #93c5fd;
}

.highlight .services-lists li a {
  color: #888888;
}

.highlight-2 {
  background-color: #e5e7eb33;
  border: 1px solid #e5e7eb;
}

/** Venue Section styles */
.venue-section {
  padding: 80px 20px;
}

.section-label {
  display: inline-block;
  color: #2563eb;
  font-weight: 600;
  margin-bottom: 12px;
}

.venue-content h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.venue-content h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #111827;
}

.venue-description {
  text-align: center;
  margin-bottom: 25px;
  color: #6b7280;
}
.venue-details-info {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.venue-details {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.detail-item {
  margin-bottom: 18px;
}

.detail-item strong {
  display: block;
  margin-bottom: 5px;
  color: #111827;
}

.detail-item P {
  color: #111827;
}
/** venue-facilities styles */

.venue-facilities {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.detail-item {
  margin-bottom: 30px;
}
.venue-facilities h4 {
  margin-bottom: 15px;
}

.venue-facilities ul {
  list-style-position: inside;
}

.venue-facilities li {
  margin-bottom: 30px;
}

.venue-map {
  flex: 1;
}

.venue-map iframe {
  margin-top: 120px;
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.buttons {
  margin-top: 70px;
  text-align: right;
}

/** footer styles */
footer {
  background-color: #0d1b2a;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #575757;
}
.footer-img {
  width: 90px;
}
.footer-container a i {
  color: #1d4ed8;
  font-size: 22px;
}

.copyright-msg h4 {
  text-align: center;
  color: white;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 700;
}
