* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* common styles */
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.text-primary {
  color: #575757;
}
.common-btn {
  background-color: #1d4ed8;
  padding: 12px 41px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/** navbar styles */
nav {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu-items ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.Menu-items ul li a {
  text-decoration: none;
  font-size: 1rem;
}

/**Banner styles */
#banner-container {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0)),
    url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.banner-content p {
  font-size: 22px;
  font-weight: 500;
}

.hero-btn .common-btn {
  margin-top: 270px;
  padding: 20px 45px;
  font-size: 25px;
}

/* Meet-the-speakers section */
#Meet-the-speakers {
  margin-top: 80px;
}
.speakers-heading {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #000102;
}
